<!DOCTYPE html>
<html>
    <head>
        <title>Keep Up</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/header_style.css">
        <link rel="icon" href="/images/logo.png" type="image/png" sizes="16x16">
        <link  type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        <%- body %>
        <%- script %>
        <script>
                <% if(flash.success && flash.success.length>0 ){%>
                new Noty({
                    theme: 'relax',
                    text: '<%= flash.success %>',
                    type: 'success',
                    layout: 'topCenter',
                    timeout: 1500
                }).show();
            <% } %>
                
            <% if(flash.error && flash.error.length>0 ){%>
                new Noty({
                    theme: 'relax',
                    text: '<%= flash.error %>',
                    type: 'error',
                    layout: 'topCenter',
                    timeout: 1500
                }).show();
            <% } %>
                </script>
    </body>
</html>